.loadingScreenContainer{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  .loading{
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .loadingMessage{
    margin-bottom: 20px;
    height:2vw;
  }