/*BLOG DETAILS*/

.blogDisplayContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .blogDisplayContainer h1{
    color: var(--main-color);
    font-size: 45px;
    margin-bottom: 0;
    
    text-align: center;
  }
  .blogDisplayContainer h2{
    margin-top: 2vh;
    margin-bottom: 5vh;
    font-size: 14px;
    text-align: center;
    padding-top: 15px;
    width: 80vw;
    border-top : 1px solid var(--blog-border-bottom);
  }
  .mainArticle {
    margin: 0 auto 0 auto;
    width: 80vw;
    line-height: 130%;
    padding: 1rem;
    font-size: 26px;
  }
  .likeAndCommentButtonWrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin:0;
    padding:0;
    gap: 10px;
    width: 200px;
  }
  .likeAndCommentButtonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .like, .comment{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 400;
    font-size: large;
  }
  /*RESPONSIVE BLOG DETAILS*/
  
  @media only screen and (max-width: 290px){
    .blogDisplayContainer h1{
      font-size: 25px;
    }
    .blogDisplayContainer p {
      font-size: 20px;
    }
    .blogDisplayContainer h2{
      font-size: 10px;
    }
    }